@import "../../scss/vars";


.navigate {

 &__wrapper {
  display: flex;

  &-logo {
   margin-top: 8px;
   margin-right: 91px;
  }

  &-list {
   display: flex;
   list-style: none;
   align-items: center;
   margin-right: 115px;

   li {
    a {
     text-decoration: none;
     padding-right: 18px;
     font-size: 13px;
     line-height: 18px;
     color: #090F24;
    }
   }
  }

  &-info {
   display: flex;
   margin-right: 46px;
   align-items: center;
  }

  &-phone {
   margin-right: 75px;
   position: relative;

   img {
    position: absolute;
    top: 2px;
    left: -24px;
    width: 16px;
    height: 16px;
    color: #686877;
   }

   a {
    font-size: 13px;
    line-height: 18px;
    color: #090F24;
    text-decoration: none;
    @include f500
   }
  }

  &-email{
   position: relative;

   img {
    position: absolute;
    top: 2px;
    left: -24px;
    width: 16px;
    height: 16px;
    color: #686877;
   }

   a {
    font-size: 13px;
    line-height: 18px;
    color: #090F24;
    text-decoration: none;
    @include f500
   }
  }

  &-lang{
  align-items: center;
   font-size: 14px;
   display: flex;
  }

  &-interpreter{
   text-decoration: none;
   margin-left: 10px;
   color: #B7B8C5;
   @include f600;
   text-align: center;
   cursor: pointer;
   &.active{
    color: #090F24;
    border-bottom: 1px solid #74CCD8;
    width: 100%;
   }
  }
 }
}

.header{
 border-top: 1px solid $side;
 border-bottom: 1px solid $side;
 &__inner{
  display: flex;
  align-items: center;
  max-width: 1440px;
  width: 100%;
  padding: 0 82px;
  margin: 0 auto;
  position: relative;
  .catalog{
   position: absolute;
   top: 66px;
   max-width: 373px;
   width: 100%;
  }

  form{
   margin-right: 88px;
   position: relative;
   label{
    position: relative;

   input{
    margin-left: 24px;
    border: 1px solid #B7B8C5;
    border-radius: 30px;
    background-color: #fff;
    padding: 10px 41px;
    width: 490px;
    color: $bg;
    &::placeholder{
     font-size: 15px;
     line-height: 20px;
     color: #B7B8C5;
    }
   }
   img{
    width: 16px;
    height: 16px;
    position: absolute;
    top: 5px;
    left: 40px;
    color: $bg;
    cursor: pointer;
   }
   button{
    border: none;
    background-color: $light;
    border-radius: 0px 30px 30px 0px;
    color: #fff;
    padding: 8px 25px;
    font-size: 15px;
    line-height: 20px;
    text-align: center;
    @include f500;
    position: absolute;
    top: -6px;
    right: 0px;
    cursor: pointer;
   }
  }
  }
 }
 &__menu{
  border-left: 2px solid $side;
  border-right: 2px solid $side;
  padding: 24px 0;
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: all .5s;
 

  &-btn{
   width: 20px;
   margin-left: 20px;
   span{
    display: block;
    height: 2px;
    background-color: $bg;
    border-radius: 1px;
    &+span{
     margin-top: 6px;
    }
   }
  }
  .header__menu-btn__off{
   display: none;
  }
  &-title{
   margin-left: 13px;
   color: $bg;
   @include f600;
   text-transform: uppercase;
   margin-right: 160px;

  }
  &.active{
   background-color: $light;
   overflow: auto;
   height: auto;
   .header__menu-title{
    color: #fff;
   }
   .header__menu-btn{
    span{
     display: none;
    }
   }
   .header__menu-btn__off{
    display: block;
    width: 20px;
    margin-left: -20px;
    transition: all .5s;
    span {
     display: block;
     height: 2px;
     background-color: #fff;
     border-radius: 1px;
     transform: rotate(45deg) translate(1%, -50%);;
     &+span{
      transform: rotate(-45deg) translate(11%, -50%);;
     }
    }
   }
  }

 }
 &__box{
  display: flex;
  align-items: center;
  &-user{
   margin-right: 30px;
   background-color: $light;
   width: 34px;
   height: 34px;
   border-radius: 50%;
   color: #fff;
   padding: 6px 10px;
   font-size: 18px;
   line-height: 22px;
   text-align: center;
   @include f500;
   cursor: pointer;
  }
  &-heart{
   position: relative;
   cursor: pointer;
   margin-right: 30px;
   span{
    position: absolute;
    width: 21px;
    height: 21px;
    border-radius: 50%;
    background: linear-gradient(180deg, #ED9BC1 0%, #ED9BB9 100%);
    color: #ffffff;
    font-size: 10px;
    line-height: 12px;
    text-align: center;
    padding: 4px 5px;
    top: -9px;
    right: -10px;
   }
  }
  &-basket{
   position: relative;
   cursor: pointer;
   span{
    position: absolute;
    width: 21px;
    height: 21px;
    border-radius: 50%;
    background: linear-gradient(180deg, #ED9BC1 0%, #ED9BB9 100%);
    color: #ffffff;
    font-size: 10px;
    line-height: 12px;
    text-align: center;
    padding: 4px 5px;
    top: -6px;
    right: -10px;
   }
  }
 }
 &__wrapper{
    position: relative;
    display: flex;
    align-items: center;
}
}



.catalog {
 position: relative;
 height: 0;
 overflow: hidden;
 &__items{
  border: 1px solid #74CCD8;
  box-shadow: 0px 4px 11px rgba(68, 97, 132, 0.08);
  border-radius: 0px 0px 10px 10px;
  max-width: 367px;
  width: 100%;

 }
 &__item{
  background-color: #fff;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #74CCD8;
  position: relative;
  cursor: pointer;
  &+.catalog__item:last-child{
   border-bottom: none;
   border-radius: 0px 0px 10px 10px;
  }
  &-images{
   margin-left: 20px;
   padding-top: 6px;
  }
  &-title{
   font-size: 18px;
   padding: 20px 14px;
   color: $bg;
   @include f500;
  }
  &-arrow{
   position: absolute;
   right: 20px;
  }
  &:hover{
   background: linear-gradient(180deg, #ED9BC1 0%, #ED9BB9 100%);
   .catalog__item-title{
    color: #fff;
   }
   .catalog__item-arrow{
    svg{
     path{
      stroke: #fff;
     }
    }
   }
  .catalog__item-images{
   svg{
    path{
     fill: #fff;
    }
   }
  }
  }
  &-subcatalogs{
   max-width: 717px;
   width: 100%;
   flex-wrap: wrap;
   position: absolute;
   left: 20px;
   top: 56px;
   display: flex;
   gap: 30px;
  
   &__title {
    font-size: 16px;
    line-height: 22px;
    @include f500;
    color: $bg;
    max-width: 216px;
    width: 100%;
    margin-bottom: 16px;

   }
   &__catalog-list{
    font-size: 14px;
    line-height: 19px;
    color: #686877;
    padding-bottom: 8px;
    max-width: 205px;
    width: 100%;
   }
  }
 }
}

