$side: #c6cbd5;
$bg: #090F24;
$light: #74CCD8;



@mixin f500 {
 font-family: 'Noto Sans', sans-serif;
 font-weight: 500;
}

@mixin f600 {
 font-family: 'Noto Sans', sans-serif;
 font-weight: 600;
}

@mixin f700 {
 font-family: 'Noto Sans', sans-serif;
 font-weight: 700;
}

@mixin r600 {
 font-family: 'Rubik', sans-serif;
 font-weight: 600;
}

@mixin p400 {
 font-family: 'Pacifico', cursive;
 font-weight: 400;
}

