@media (max-width: 480px) {
  .container {
    padding: 0 27px; 
    margin: 0 auto;
}
  .navigate__wrapper-list {
    display: none;
  }
  .navigate__wrapper-info {
    display: none;
  }
  .navigate__wrapper-lang {
    display: none;
  }
  .header__menu {
    display: none;
  }
  .header__box-logo {
    display: block;
  }

  .header__registration label {
    display: none;
  }
  .header__registration-auth {
    display: none;
  }
  .header__registration-logout {
    display: none;
  }
  .header__menu-btn {
    width: 20px;
    margin-left: 26px;
    span {
      display: block;
      height: 2px;
      background-color: #b7b8c5;
      border-radius: 1px;
    }
  }
  .header__box-btnAd {
    display: block;
    margin-right: 14px;
    cursor: pointer;
    position: relative;
  }
  .header__box-btnList {
    display: block;
    position: absolute;
    left: -1px;
    top: 43px;
    z-index: 1;
    width: 300px;
    border-top: 1px solid #000;
    height: 0;
    transition: all 0.5s;
    li {
      padding-bottom: 9px;
      padding-top: 9px;
      border-bottom: 1px solid #000;
      background-color: #fff;
      a {
        text-decoration: none;
        font-size: 13px;
        line-height: 18px;
        color: #090f24;
        &:hover {
          font-family: "Noto Sans", sans-serif;
          font-weight: 500;
          color: #ed9bb9;
        }
      }
    }
  }
  .slider-presentation{
    display: block;
  }
  .slider-presentation__right{
    display: flex;
    margin-top: 25px;
    
    img{
      padding: 0 5px;
    }
    img:last-child {
     margin-top: 0; 
  }
  }
  
  .navigate__wrapper-logo {
    display: none;
  }
  .header__inner {
    padding: 0 27px;
  }
  .header__wrapper {
    width: 100%;
  }
  .header__registration {
    width: 100%;
  }
  .header__box {
    &-main {
      display: flex;
      align-items: center;
      padding: 16px 0;
      justify-content: space-between;
      width: 100%;
      &__left {
        display: flex;
        align-items: center;
      }
      &__right {
        display: flex;
        align-items: center;
      }
    }
  }
  .header__box-heart {
    margin-right: 18px;
    margin-left: 18px;
  }
  .header__box-searchAdap {
    display: block;
    cursor: pointer;
  }
  label.input-search {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 15px 0 14px;
  }
}

