@media (max-width: 480px) {
  .container {
    padding: 0 27px;
    margin: 0 auto;
  }
  .navigate__wrapper-list {
    display: none;
  }
  .navigate__wrapper-info {
    display: none;
  }
  .navigate__wrapper-lang {
    display: none;
  }
  .header__menu {
    display: none;
  }
  .header__box-logo {
    display: block;
  }

  .header__registration label {
    display: none;
  }
  .header__registration-auth {
    display: none;
  }
  .header__registration-logout {
    display: none;
  }
  .header__menu-btn {
    width: 20px;
    margin-left: 26px;
    span {
      display: block;
      height: 2px;
      background-color: #b7b8c5;
      border-radius: 1px;
    }
  }
  .header__box-btnAd {
    display: block;
    margin-right: 14px;
    cursor: pointer;
    position: relative;
  }
  .header__box-btnList {
    display: block;
    position: absolute;
    left: -1px;
    top: 43px;
    z-index: 1;
    width: 300px;
    border-top: 1px solid #000;
    height: 0;
    transition: all 0.5s;
    li {
      padding-bottom: 9px;
      padding-top: 9px;
      border-bottom: 1px solid #000;
      background-color: #fff;
      a {
        text-decoration: none;
        font-size: 13px;
        line-height: 18px;
        color: #090f24;
        &:hover {
          font-family: "Noto Sans", sans-serif;
          font-weight: 500;
          color: #ed9bb9;
        }
      }
    }
  }
  .novelty__card-test,
  popular__card-test{
    display: block;
  }
  .slider-presentation {
    display: block;
    .slick-slide img {
      width: 100%;
    }
  }
  .slider-presentation__right {
    display: flex;
    margin-top: 25px;
    width: 100%;

    img {
      width: 49%;
    }
    img:last-child {
      margin-top: 0;
      margin-left: 10px;
    }
  }
  .slider-presentation .slick-slider .slick-arrow.slick-prev::before {
    display: none;
  }
  .slider-presentation .slick-slider .slick-arrow.slick-next::before {
    display: none;
  }
  .slider-carousel {
    margin-left: 0;
    .slick-slide img {
      display: block;
      width: 95%;
      height: 124px;
    }
  }
  .slider-carousel .slick-slider .slick-arrow.slick-prev::before {
    display: none;
  }
  .slider-carousel .slick-slider .slick-arrow.slick-next::after {
    display: none;
  }

  .commercial {
    flex-wrap: wrap;
    margin-left: 0px;
    &__item {
      margin-bottom: 30px;
      img{
        margin-right: 10px;
      }
    }
    &__item + .commercial__item {
      margin-left: 0px;
    }
  }
  .commercial__item__title {
    font-family: "Noto Sans", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
  }
  .products {
    margin-left: 0px;
  }
  .sale__discount-image,
  .sale__card-coloured,
  .sale__card-logistics,
  .sale__card-recall {
    display: none;
  }
  .sale__card,
  .novelty__card,
  .popular__card {
    margin-left: -10px;
  }
  .sale .slick-slider .slick-arrow.slick-next::after,
  .sale .slick-slider .slick-arrow.slick-prev::before{
    display: none;
  }
  .novelty .slick-slider .slick-arrow.slick-next::after,
  .novelty .slick-slider .slick-arrow.slick-prev::before{
    display: none;
  }
  .products__image {
    max-width: 120px;
    gap: 10px;
    &:hover{
      background: #fff;
      box-shadow: 0px 2px 4px rgba(51, 196, 223, 0.2);
      border-radius: 10px;
      text-align: center;
      padding: 24px 13px;
      .products__image-title{
          color: #090F24;
      }
      }
      img{
          margin: 0 auto;
      }
  }
  .products__image-title {
    font-size: 13px;
    font-family: "Noto Sans", sans-serif;
    font-weight: 400;
  }
  .sale__card-heart {
    right: 10px;
  }
  .popular .slick-slider .slick-arrow.slick-prev::before,
  .popular .slick-slider .slick-arrow.slick-next::after{
    display: none;
  }
  
  .novelty__card-testimonial,
  .popular__card-testimonial{
    display: none;
  }
 
  .navigate__wrapper-logo {
    display: none;
  }
  .header__inner {
    padding: 0 27px;
  }
  .header__wrapper {
    width: 100%;
  }
  .header__registration {
    width: 100%;
  }
  .header__box {
    &-main {
      display: flex;
      align-items: center;
      padding: 16px 0;
      justify-content: space-between;
      width: 100%;
      &__left {
        display: flex;
        align-items: center;
      }
      &__right {
        display: flex;
        align-items: center;
      }
    }
  }
  .header__box-heart {
    margin-right: 18px;
    margin-left: 18px;
  }
  .header__box-searchAdap {
    display: block;
    cursor: pointer;
  }
  label.input-search {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 15px 0 14px;
  }
}
